.clockpicker-popover {
  position: fixed;
  top: calc(50vh - 150px) !important;
  left: calc(50vw - 120px) !important; }
  .clockpicker-popover .arrow {
    display: none; }
  .clockpicker-popover .text-primary {
    color: #3c3c3c; }
  .clockpicker-popover .clockpicker-canvas-bearing, .clockpicker-popover .clockpicker-canvas-fg {
    fill: #2606a1; }
  .clockpicker-popover .clockpicker-canvas line {
    stroke: #2606a1; }
  .clockpicker-popover .clockpicker-canvas-bg {
    fill: #3c3c3c; }
  .clockpicker-popover::before {
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    pointer-events: all; }

.md-datepicker-input-container {
  border: none; }

.md-datepicker-input {
  min-width: 90% !important;
  max-width: 90% !important;
  color: rgba(0, 0, 0, 0.4);
  font-weight: normal;
  float: left; }

.md-placeholder {
  color: #ccc; }

.md-datepicker-button {
  display: none; }

.md-calendar-date-selection-indicator {
  border-radius: 4px; }

.md-datepicker-triangle-button {
  background: none; }

.md-calendar-scroll-container {
  width: 100% !important; }

.md-button.md-focused {
  background-color: transparent !important; }

.inputbox .md-datepicker-input {
  color: #000;
  padding: 0;
  width: 100%; }
.inputbox .md-datepicker-input-container {
  width: calc(100% - 20px);
  padding: 0 0  5px;
  top: 12px; }

.md-datepicker-calendar-pane {
  left: calc(50vw - 160px) !important;
  width: 310px !important; }

.md-datepicker-input-container {
  background: transparent; }

.md-datepicker-open .md-datepicker-input-container {
  background: transparent;
  width: calc(100% - 20px);
  padding: 0 0 5px;
  top: 12px; }

.md-pane-open .md-datepicker-input-mask {
  display: none; }

.main-container {
  position: absolute;
  width: 100%;
  height: calc(100vh - 60px);
  top: 60px;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

.pw-weeklyhours {
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7); }
  .pw-weeklyhours .weekly-container {
    margin: calc(50vh - 200px) 20px 0;
    background: #e0e0e0;
    overflow: hidden; }
  .pw-weeklyhours .weekly-header {
    background: #3c3c3c;
    position: relative;
    height: 52px; }
    .pw-weeklyhours .weekly-header .item-close {
      width: 50px;
      height: 50px;
      float: right; }
      .pw-weeklyhours .weekly-header .item-close .close {
        right: 12px;
        top: 12px; }
        .pw-weeklyhours .weekly-header .item-close .close::before, .pw-weeklyhours .weekly-header .item-close .close::after {
          background-color: #fff; }
    .pw-weeklyhours .weekly-header .date-stamp {
      width: auto;
      padding: 5px 10px; }
      .pw-weeklyhours .weekly-header .date-stamp span {
        font-size: 10px;
        color: #fff;
        font-weight: 900; }
      .pw-weeklyhours .weekly-header .date-stamp h4 {
        font-size: 15px;
        padding: 0;
        margin: 0;
        color: #fff; }
    .pw-weeklyhours .weekly-header h3 {
      color: #777; }
  .pw-weeklyhours .new {
    width: 100%;
    height: 50px;
    background: #3c3c3c;
    color: #fff;
    border: none;
    font-size: 20px; }
  .pw-weeklyhours .weekly-content {
    background: #e0e0e0; }
    .pw-weeklyhours .weekly-content .weekly-hours button {
      font-size: 50px;
      color: #3c3c3c;
      border: none;
      padding: 0;
      background: transparent; }
    .pw-weeklyhours .weekly-content .weekly-hours input {
      background: transparent;
      border: none;
      font-size: 50px;
      text-align: center;
      width: 100%;
      color: #000;
      padding: 20px 0; }
    .pw-weeklyhours .weekly-content p {
      text-align: center;
      color: #777;
      font-size: 17px; }

.activeType {
  display: none;
  visibility: hidden; }

.popup-window .save {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  border: none;
  background: #3c3c3c;
  color: #fff;
  font-size: 20px; }
  .popup-window .save :hover{
    background-color: yellowgreen;
  }
.popup-window .popup-content .time-toggle-container {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #eee;
  color: #fff; }
  .popup-window .popup-content .time-toggle-container button {
    width: 50%;
    position: relative;
    float: left;
    font-size: 15px;
    height: 50px;
    color: #fff;
    position: relative;
    width: 50%;
    display: block;
    float: left; }
    .popup-window .popup-content .time-toggle-container button.selected {
      background: #3c3c3c;
      color: #fff;
      border: none; }
.popup-window .popup-content .input-capture-time .btn-time {
  background: #3c3c3c;
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  padding: 0; }
.popup-window .popup-content .inputbox.time {
  width: calc(100% - 129px) !important;
  top: 5px; }
.popup-window .popup-content .inputfield.content-50 {
  width: calc(50% - 5px);
  float: left;
  margin: 0 0 5px; }
  .popup-window .popup-content .inputfield.content-50 .inputbox {
    width: 100%;
    margin: 5px 0;
    display: block; }
.popup-window .popup-content .timeOption {
  display: none; }
.popup-window .popup-content .total-hrs h5 {
  text-align: center;
  font-size: 15px;
  width: 100%;
  color: #777;
  margin: 10px 0 0; }
.popup-window .popup-content .total-hrs h3 {
  text-align: center;
  font-size: 45px;
  width: 100%;
  margin: 0 0 10px; }

.timetheet-toggle {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  display: block;
  float: left;
  width: 100%;
  margin: 0;
  background: #3c3c3c; }
  .timetheet-toggle .btn-toggle {
    width: 50%;
    height: 55px;
    display: block;
    float: left;
    padding: 15px;
    font-size: 17px;
    color: #fff;
    text-align: center; }
    .timetheet-toggle .btn-toggle.active {
      background: #3c3c3c; }
    .timetheet-toggle .btn-toggle:first-of-type {
      border-right: 1px solid rgba(255, 255, 255, 0.4); }

.toggle-type {
  width: 100%;
  text-align: center;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.4); }

::-webkit-input-placeholder {
  /* Chrome */
  color: rgba(0, 0, 0, 0.4) !important; }

::-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 0, 0, 0.4) !important; }

.timesheet {
  width: 100vw;
  height: 100vh; }

.header {
  position: fixed;
  width: 100vw;
  text-align: right !important;
  border: none;
  color: rgba(0, 0, 0, 0.4);
  height: 65px; }
  .header .hm-btn {
    float: left;
    padding: 15px;
    font-size: 35px;
    text-align: center;
    height: 65px;
    width: 65px;
    background: transparent;
    cursor: pointer;
    color: #3c3c3c; }
    /*.header .hm-btn:hover {
      color: #fff; }*/
  .header img {
    float: right;
    height: 65px;
    width: auto;
    margin-top: 0px;
    padding: 0px 0px 0px;
  }
  .header .date-ctrl {
    float: right;
    width: 110px;
    padding: 10px 10px;
    height: 56px; }
    .header .date-ctrl span {
      float: left;
      font-size: 10px;
      line-height: 12px;
      color: #ccc;
      padding: 0 0 6px; }
    .header .date-ctrl .date-sel {
      float: right;
      width: 130px; }

.sub-popup-header {
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #777;
  margin: 0 0 20px; }
  .sub-popup-header h3 {
    color: #777;
    font-size: 20px; }
  .sub-popup-header .date-stamp {
    width: auto;
    float: right;
    color: #777;
    font-size: 14px;
    text-align: right; }

.top-section {
  width: 100%;
  padding: 10px;
  display: inline-block;
  position: relative; }
  .top-section .timesheet-submit p {
    color: #777;
    text-align: center;
    font-size: 12px; }
  .top-section .head-wrap {
    width: 100%;
    padding: 7px 0 7px;
    display: inline-block;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
    .top-section .head-wrap {
      float: left;
      position: relative;
      width: 100%; }
      .top-section .head-wrap .head-name h3 {
        color: #cbbfbf;
        font-size: 17px;
        padding: 13px 0 0;
        margin: 0;
        width: 100%;
        text-align: center; }
      .top-section .head-wrap .head-name span {
        position: absolute;
        left: 0;
        color: rgba(255, 255, 255, 0.4);
        font-size: 10px; }
    .top-section .head-wrap .head-code {
      float: right;
      position: relative; }
      .top-section .head-wrap .head-code h3 {
        color: rgba(255, 255, 255, 0.4);
        font-size: 17px;
        padding: 13px 0 0;
        margin: 0; }
      .top-section .head-wrap .head-code span {
        position: absolute;
        left: 0;
        color: rgba(255, 255, 255, 0.4);
        font-size: 10px; }
  .top-section .content-50 {
    display: block;
    float: left;
    width: calc(50% - 20px);
    position: relative; }
    .top-section .content-50.left {
      margin: 2.5px 5px 2.5px 0;
      width: calc(50% - 5px); }
    .top-section .content-50.right {
      margin: 2.5px 0 2.5px 5px !important;
      width: calc(50% - 5px) !important; }
  .top-section .week-clear {
    width: 50%;
    margin: 10px 0 20px;
    height: 50px;
    float: left;
    background: #fff;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    font-size: 20px; }
  .top-section .week-save {
    width: 50%;
    margin: 10px 0 20px;
    height: 50px;
    float: left;
    background: green;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
    color: #fff;
    font-size: 20px; }
  .top-section .weekly-collapse {
    visibility: hidden;
    display: none;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out; }
    .top-section .weekly-collapse.expand {
      visibility: visible;
      height: 100%;
      opacity: 1;
      display: block; }
  .top-section .btn-expand {
    width: 100%;
    height: 50px;
    position: relative;
    background: transparent;
    border: none;
    transition: all 0.3s ease-in-out; }
    .top-section .btn-expand.expand {
      margin: 10px 0 0;
      border-top: 1px solid rgba(255, 255, 255, 0.4); }
      .top-section .btn-expand.expand i {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 5px;
        transform: rotate(0deg);
        color: #3c3c3c;
        transition: all 0.3s ease-in-out; }
      .top-section .btn-expand.expand .expanded {
        visibility: hidden; }
    .top-section .btn-expand span {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 20px;
      background: #2e3e4f;
      color: rgba(255, 255, 255, 0.4); }
    .top-section .btn-expand i {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 5px;
      transform: rotate(180deg);
      color: #3c3c3c; }

.weekly-footer {
  position: absolute;
  left: 0;
  margin: 20px 0 0;
  width: 100%;
  padding: 10px; }
  .weekly-footer .signiturebox {
    height: 150px;
    background: #fff;
    margin: 5px 10px;
    width: calc(100% - 20px); }

    
.ts-container .week-nav {
  width: 100%;
  height: 50px;
  display: block;
  padding: 10px 0 0; }
  .ts-container .week-nav h3 {
    text-align: center;
    font-size: 19px;
    margin: 5px 0;
    padding: 0;
    width: 100%;
    color: #777;
    border-top: 1px solid #777;
    padding: 10px 0 0; }
  .ts-container .week-nav button {
    float: left;
    height: 40px;
    width: 40px;
    border: none;
    background: transparent; }
    .ts-container .week-nav button i {
      color: #e3e3e3; }
.ts-container .sub-header {
  display: block;
  width: 100%;
  background-color: #eee;
  padding: 10px 5px;
  height: 85px;
  overflow-y: hidden; }
  .ts-container .sub-header.lockdown {
    background-color: #eee }
    .ts-container .sub-header.lockdown ul li:nth-child(8n+0) {
      background-color: #777; }
      .ts-container .sub-header.lockdown ul li:nth-child(8n+0) span {
        /*color: #eee !important;*/
        font-size: 10px;
        text-align: center;
        width: 100%;
        display: block; }
        .ts-container .sub-header.lockdown ul li:nth-child(8n+0) span.num {
          font-size: 12px;
          color: #333; }
      .ts-container .sub-header.lockdown ul li:nth-child(8n+0) button {
        pointer-events: none; }
  .ts-container .sub-header ul {
    padding: 0;
    margin: 0;
    height: auto;
    overflow: unset; }
    .ts-container .sub-header ul li {
      white-space: nowrap;
      list-style: none;
      border: none;
      float: left;
      margin: 5px;
      padding: 5px 0;
      position: relative;
      border-radius: 5px;
      height: 60px;
      background-color: rgba(255, 255, 255, 0.5);
      width: calc(12.5% - 10px) !important; }
      .ts-container .sub-header ul li button {
        background: transparent;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        -webkit-appearance: none;
        border: none; }
      .ts-container .sub-header ul li span {
        color: #777;
        font-size: 10px;
        text-align: center;
        width: 100%;
        display: block; }
        .ts-container .sub-header ul li span.num {
          font-size: 12px;
          color: #333; }
      .ts-container .sub-header ul li:nth-child(8n+0) {
        background-color: #777; }
        .ts-container .sub-header ul li:nth-child(8n+0) span {
          color: #777;
          font-size: 10px;
          text-align: center;
          width: 100%;
          display: block; }
          .ts-container .sub-header ul li:nth-child(8n+0) span.num {
            font-size: 12px;
            color: #fff; }
        .ts-container .sub-header ul li:nth-child(8n+0) button {
          pointer-events: none; }

.lockdown {
  background-color: #b7b7b7 !important;
  pointer-events: none; }
  .lockdown .placeholder, .lockdown span {
    color: #777 !important; }
  .lockdown input {
    color: #444 !important; }
    .lockdown i {
      color: #444 !important; }

.hourslockdown {
  opacity: 0.5;
  pointer-events: none; }

.footer {
  position: absolute;
  bottom: 0;
  height: auto;
  border-top: 1px solid #eee;
  width: 100%;
  z-index: 100;
  background: #fff; }
  .footer p {
    padding: 20px;
    font-size: 12px; }
  .footer button {
    margin: 10px;
    width: calc(100% - 20px);
    border: none;
    background: #3c3c3c;
    font-size: 17px;
    border-radius: 5px;
    padding: 10px;
    color: #fff; }

/* OVERRIDES */
.w3-card-4, .w3-hover-shadow {
  box-shadow: none !important; }

.w3-container {
  padding: 0 !important; }

.alert-danger {
  margin: 15px; }

/* NEW =================================== */
.popup-window .popup-header {
  background: #3c3c3c;
  border: none; }
  .popup-window .popup-header .item-close {
    border: none; }
    .popup-window .popup-header .item-close .close {
      opacity: 1; }
      .popup-window .popup-header .item-close .close:before, .popup-window .popup-header .item-close .close:after {
          color: rgb(6, 38, 45) }

.top-section {
  background: #3c3c3c; }

.top-dropdown {
  display: block;
  float: left;
  width: calc(50% - 10px);
  max-width: 300px;
  height: 40px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid rgba(224, 224, 224, 0.5);
  margin: 5px; }

.timesheet-wrap .timesheet-container .timecard .top-head {
  padding: 0;
  background: rgba(127, 89, 195, 0.5); }
  .timesheet-wrap .timesheet-container .timecard .top-head.daily {
    background: rgba(127, 210, 246, 0.5); }
    .timesheet-wrap .timesheet-container .timecard .top-head.daily span.type {
      background: #7fd2f6;
      padding: 10px 10px 10px 5px; }
  .timesheet-wrap .timesheet-container .timecard .top-head span {
    display: inline-block;
    padding: 10px 5px;
    color: #333; }
    .timesheet-wrap .timesheet-container .timecard .top-head span.type {
      background: #7f59c3;
      padding: 10px 10px 10px 5px; }

.sl-usr:before {
  content: '\f007';
  font-family: Fontawesome;
  float: left;
  margin-right: 10px;
  margin-left: 5px;
  color: rgba(224, 224, 224, 0.5);
  line-height: 27px; }
.sl-usr:after {
  content: '\f0d7';
  margin-left: 10px;
  float: left;
  font-family: Fontawesome;
  line-height: 27px;
  color: rgba(224, 224, 224, 0.5); }

.sel-narra {
  display: block;
  clear: both;
  padding-top: 30px;
  width: 100%;
  padding: 5px; }
  .sel-narra label {
    font-family: 'Nunito-Light';
    margin-top: 20px;
    color: rgba(224, 224, 224, 0.5); }
  .sel-narra textarea {
    width: 100%;
    max-width: 100%;
    height: 50px;
    background: none;
    border-radius: 4px;
    border: 1px solid rgba(224, 224, 224, 0.5);
    color: #eee; }

.btn-add {
  display: block;
  margin: 5px;
  padding: 10px 40px;
  border-radius: 4px;
  color: #fff;
  background: #73c6ea;
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  float: right; }

.top-row {
  background: #3c3c3c;
  color: #fff;
  text-align: center !important; }

.table-wrap {
  display: block;
  width: 100%;
  height: auto;
  overflow-x: scroll;
  font-family: Verdana, sans-serif;
  font-weight: 300; }
  .table-wrap th {
    font-family: Verdana, sans-serif;
    font-weight: 300; }

.model-box {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8); }

.sidebar {
  z-index: 200;
  background: #eee;
  border-right: 1px solid #ccc; }

ul {
  padding: 10px 0;
  margin: 0;
  overflow: scroll;
  overflow: scroll;
  height: calc(100vh - 150px); }
  ul li {
    margin: 0 10px;
    padding: 10px 0;
    width: calc(100% - 20px) !important;
    border-bottom: 1px solid #d4d4d4;
    display: inline-block;
    width: 100%;
    position: relative; }
    ul li label {
      width: 100%;
      color: #2e3e4f; }
    ul li input {
      width: 100% !important;
      color: #fff !important;
      border: none;
      background: transparent;
      font-size: 15px !important; }

.btn-close {
  border-top-right-radius: 5px;
  font-size: 20px;
  color: #1b2830; }

.lb-footer button {
  border-radius: 0px;
  width: 50%;
  float: left;
  display: block;
  height: 50px;
  border: none; }

.w3-modal-content {
  border-radius: 5px;
  background: #2e3e4f; }
  .w3-modal-content header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    background: #eee;
    color: #1b2830;
    border-bottom: 2px solid #3c3c3c; }

.btn-accept {
  border-bottom-right-radius: 5px !important; }

.btn-cancel {
  border-bottom-left-radius: 5px !important; }

textarea {
  border: none;
  font-size: 15px;
  color: #fff;
  background: transparent; }

select {
  color: #aaaaaa !important; }

.half {
  width: calc(50% - 20px) !important;
  display: block;
  float: left;
  margin: 0 10px;
  padding: 10px 0; }

.note-ex {
  min-width: 300px; }

.btn-select:after {
  content: '\f0d7';
  font-family: Fontawesome;
  position: absolute;
  color: #aaaaaa;
  right: 0; }

.lb-footer {
  position: absolute;
  width: 100%;
  bottom: 0; }

.menu-item {
  display: inline-block;
  position: relative;
  overflow: visible;
  width: 100%;
  border-bottom: 1px solid #bbb;
  height: 50px;
  padding: 10px; }
  .menu-item a {
    display: block;
    position: relative;
    overflow: visible;
    color: #1b2830 !important;
    background: transparent !important;
    z-index: 200;
    text-decoration: none;
    width: 30px; }
  .menu-item:hover {
    text-decoration: none;
    color: #3c3c3c; }

.hm-btn:hover {
  text-decoration: none; }

body.expand .overlay {
  visibility: visible;
  opacity: 0.8; }

.overlay {
  background: #000;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 100;
  visibility: hidden;
  transition: all 0.3s ease-in-out; }

.checkbox {
  display: block;
  position: relative;
  padding: 30px 0;
  color: #777;
  float: right; }
  .checkbox span {
    display: block;
    text-align: right;
    font-size: 17px;
    padding: 7px 45px 0 0; }
    .checkbox span:before {
      position: absolute;
      font-family: "Font Awesome 5 Free";
      content: '\f0c8';
      right: 0;
      z-index: 20;
      top: 22px;
      font-size: 45px;
      color: #ccc;
      transition: all 0.3s ease-in-out; }

input[type='checkbox'] {
  display: none; }
input:checked ~ span:before {
  font-family: "Font Awesome 5 Free";
  content: '\f14a';
  color: #777; }

/*# sourceMappingURL=timesheet.css.map */
.attachments ul {
  display: block;
  float: left;
  width: 100%;
}

.attachments ul li {
  display: block;
  position: relative;
  float: left;
  width: calc(50% - 20px)!important;
  margin: 0;
  padding-top: calc(50% - 20px)!important;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  
}
.attachments ul {
  display: inline-block;
  padding: 0;
  width: 100%;
  height: auto;
}
.attachments ul li .img-item {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.attachments ul li .img-item img{
  top:0;
  left: 0;
  align-content: center;
  width: auto;
  height: 100%;
  margin: 0 -5vw;
}
.attachments ul li .img-item button {
  position: absolute;
  top: 0;
  right: 0;
  background: #3c3c3c;
  width: 40px;
  height: 40px;
  border: none;
  color: #fff;
}

.addDisbursement {
  background-color: #3c3c3c;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  margin: 10px auto 30px;
  display: block;
  width: 100%;
  border: none !important;
}
.addPlantUsage{
  background-color: #3c3c3c;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  margin: 10px auto 30px;
  display: block;
  width: 100%;
  border: none !important;
}

.addattachment {
  background-color: #3c3c3c;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  margin: 10px auto 30px;
  display: block;
  border: none !important;
}
.signature-name {
  position: absolute;
  left: 0;
  top:20px;
}
.drop-down-arrow{
  -webkit-transform:translate(-50%,100%);
  transform:translate(-9%,100%);
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-top:5px solid
}

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #3c3c3c;
  z-index: 9999;
  opacity: 0.9;
  }
  .preloader .loader-ico {
  margin-top: calc(50vh - 120px);
  }
  .preloader h3 {
  text-align: center;
  display: block;
  width: 100%;
  color:#ddd;
  }

  .add-repeated-field {
    display: inline-block;
    width: 100%;
  }
  .add-repeated-field button {
    display: block;
    height: 70px;
    width: 70px;
    margin: 20px auto 10px;
    padding: 20px;
    border-radius: 35px;
    background:  #3c3c3c;
    border: 0;
  }
  .add-repeated-field button.sub {
    height: 70px;
    width: 70px;
    padding: 20px;
    background: #3c3c3c;
  }
  .add-repeated-field button img {
    display: block;
    width: 100%;
  }
  .add-repeated-field span {
    display: block;
    width: 100%;
    font-size: 17px;
    color: #777;
    text-align: center;
  }

  .popup-media {
    position: relative;
    width: 100%;
    height: auto;
  }
  .popup-media ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .popup-media li {
    width: calc(100% - 12px) !important;
    float: left;
    position: relative;
    padding-top: 110%;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
  }
  .popup-media .img-item {
    position: absolute;
    top: 0;
    height: auto;
    width: 100%;
    overflow:hidden;
  }
  .popup-media img {
    display: block;
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
  .popup-media button{
    position: absolute;
    background: #3c3c3c;
    height: 50px;
    width: 50px;
    top: 0;
    right: 0;
    border: none;
    border-bottom-left-radius: 4px;
  }
  .popup-media button	i{
    font-size: 1.3rem;
    color: #fff;
  }

  /* @media screen and (max-width: 209px) {
    .header img {
      height: 50%;
      margin-top: 18px;
    }
  }
  @media screen and (min-width: 210px) {
    .header img {
      height: 60%;
      margin-top: 14px;
    }
  }
  @media screen and (min-width: 250px) {
    .header img {
      height: 62%;
      margin-top: 13px;
    }
  }
  @media screen and (min-width: 550px) {
    .header img {
      height: 70%;
      margin-top: 12px;
    }
  } */